html {
	height: 100%;
}

body {
	background-color: #EEE;
	display: flex;
	flex-direction: column;
	height: 100%;
}

/*	Navbar */

.navbar-brand h1 {
	font-size: 24px;
}
.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-text {
	color: #FFF;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
	color: #BBB;
}

.navbar-expand .navbar-nav {
	align-items: center;
}

/* Sidebar */

.sidebar {
	background-color: #FFF;
	height: 100%;
	min-width: 250px;
	max-width: 250px;
	min-height: calc(100vh - 56px);
	transition: all 0.3s;
	overflow: auto;
	box-shadow: 0 0 10px #0000001c;
}
.sidebar ul li a {
	display: block;
	padding: .75rem 1rem;
	color: #555;
	text-decoration: none;
}

.sidebar ul li a:hover, .sidebar ul .active a {
	color: #777;
	font-weight: bold;
	background: #EEE;
}

.sidebar ul ul ul a {
	display: block;
	padding-left: 3.5rem;
	text-decoration: none;
}

.sidebar ul ul a {
	padding-left: 2.5rem;
	background: rgba(0, 0, 0, .1);
}

.sidebar [data-toggle="collapse"] {
	position: relative;
}
.sidebar [data-toggle="collapse"]:before {
	content: "\f0d7";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	position: absolute;
	right: 1rem;
}
.sidebar [aria-expanded="true"] {
	background: rgba(0, 0, 0, .2);
}
.sidebar [aria-expanded="true"]:before {
	content: "\f0d8";
}

.sidebar.toggled {
	margin-left: -250px;
}

.content {
	width: 100%;
}

@media (max-width: 768px) {
	.sidebar {
		margin-left: -250px;
	}
	.sidebar.toggled {
		margin-left: 0;
	}
}

.display-5 {
	font-size: 2.5rem;
	font-weight: 300;
	line-height: 1.2;
}

/* Main Container */

#main_content {
	display: flex;
	flex: 1;
	overflow: hidden;
}

#main_container {
	overflow: auto;
}

/* Cards*/

.card {
	height: 130px;
}

.card:hover {
	text-decoration: none;
}

.card i {
	position: absolute;
	right: 15px;
	bottom: 15px;
	opacity: 0.35;
}

/* Panels */

.panel {
	background: #FFF;
	box-shadow: 0 0 10px #0000001c;
}

.panel-header {
	text-align: center;
	padding: 15px;
	font-weight: 600;
	color: #555;
}

#dashboard__employeeDistribution .panel-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

/* Footer */

#footer {
	text-align: center;
}